body {

background-image: linear-gradient(90deg, darkturquoise 40%, darkcyan 90%);
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #000000;
}

